__pycache__/


*.swp
*.json
*.tar.gz
*.pyc

.python-version
.ipynb_checkpoints
.log
.env
.venv
.score_data
.storage

/env
venv/
/conf
/data
/BACKUP
/config
src/jslee/docker-compose.yml

.idea/

default_configure.json
configure.json

BUILD_ARGS
DEBUG_ARGS

logs/
icon/

ctx/tests/goloop/*

tests/goloop*/*
